.waiting {
  display: none;
}
/* .countdown {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.countdown-timer {
  font-size: 8rem;
  font-weight: bold;
}

.countdown-timer span {
  display: inline-block;
  margin: 0 0.5rem;
}

@media only screen and (max-width: 768px) {
  .countdown-timer {
    font-size: 6rem;
  }
} */

.error-message {
  display: none;
  color: red;
  margin-left: 5px;
}
.error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}
.opt-error-message {
  display: none;
  color: red;
  margin-left: 5px;
}
.otp-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  height: 50px;
  margin: 0 auto;
}

.otp-input {
  width: 40px;
  height: 40px;
  font-size: 24px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}
 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/-min.jpg");
  background-position: 63.21% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1 .u-image-1 {
  width: 397px;
  height: 156px;
  margin: 98px auto 0 360px;
}

.u-section-1 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 28px 105px 0;
}

.u-section-1 .u-text-2 {
  margin: 29px 40px 0;
}

.u-section-1 .u-text-3 {
  margin: 105px 40px 0;
}

.u-section-1 .u-image-2 {
  width: 300px;
  height: 97px;
  margin: 26px auto 0 208px;
}

.u-section-1 .u-image-3 {
  width: 300px;
  height: 97px;
  margin: -94px auto 60px 604px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-1 .u-text-1 {
    width: 770px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-2 {
    margin-left: 108px;
  }

  .u-section-1 .u-image-3 {
    margin-left: 504px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 726px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 323px;
  }

  .u-section-1 .u-text-1 {
    width: 720px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-2 {
    margin-top: 32px;
    margin-left: 42px;
  }

  .u-section-1 .u-image-3 {
    margin: -97px 42px 57px auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 545px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 143px;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
    margin-top: 90px;
  }

  .u-section-1 .u-image-3 {
    margin-left: 108px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 853px;
  }

  .u-section-1 .u-image-1 {
    height: 134px;
    margin-top: 37px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 19px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 19px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 53px;
  }

  .u-section-1 .u-image-2 {
    width: 250px;
    height: 79px;
    margin-top: 30px;
    margin-left: auto;
  }

  .u-section-1 .u-image-3 {
    width: 250px;
    height: 78px;
    margin-top: 28px;
    margin-right: 44px;
    margin-left: auto;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 289px;
}

.u-section-2 .u-text-1 {
  font-size: 4.5rem;
  margin: 50px auto 0;
}

.u-section-2 .u-text-2 {
  margin: 36px 59px 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 179px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 69px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 350px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 335px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-bottom: 50px;
  }
} .u-section-3 {
  min-height: 654px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 654px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-3 .u-image-1 {
  width: 450px;
  height: 203px;
  margin: 0 auto 0 -10px;
}

.u-section-3 .u-text-1 {
  margin: 93px 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.125rem;
  margin: 46px 0 0;
}

.u-section-3 .u-btn-1 {
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 1px;
  margin: 78px auto 0 0;
  padding: 0;
}

.u-section-3 .u-image-2 {
  min-height: 654px;
  background-image: url("images/cxc.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 60px;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 539px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 539px;
  }

  .u-section-3 .u-image-2 {
    min-height: 539px;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 413px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-image-2 {
    min-height: 413px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 720px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-3 .u-image-2 {
    min-height: 620px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 490px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 926px;
  }

  .u-section-3 .u-container-layout-1 {
    padding: 0;
  }

  .u-section-3 .u-text-1 {
    margin-top: 55px;
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 50px;
  }

  .u-section-3 .u-image-2 {
    min-height: 390px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 50px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 30px;
  }
} .u-section-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/45936110-0.jpeg");
}

.u-section-5 .u-sheet-1 {
  min-height: 1138px;
}

.u-section-5 .u-group-1 {
  width: 1310px;
  min-height: 245px;
  height: auto;
  margin: 48px -85px 0;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 50px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  margin: 19px auto 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 300;
  margin: 20px 0 0;
}

.u-section-5 .u-layout-wrap-1 {
  width: 1309px;
  margin: 0 -84px 48px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 797px;
}

.u-section-5 .u-container-layout-2 {
  padding: 22px 0;
}

.u-section-5 .u-icon-1 {
  width: 65px;
  height: 65px;
  margin: 19px auto 0;
  padding: 6px;
}

.u-section-5 .u-text-3 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 14px auto 0;
}

.u-section-5 .u-text-4 {
  font-size: 1.125rem;
  margin: 16px 59px 0 69px;
}

.u-section-5 .u-icon-2 {
  width: 65px;
  height: 65px;
  margin: 36px auto 0;
  padding: 6px;
}

.u-section-5 .u-text-5 {
  font-weight: 700;
  width: 240px;
  font-size: 1.5rem;
  margin: 14px auto 0;
}

.u-section-5 .u-text-6 {
  font-size: 1.125rem;
  width: 309px;
  margin: 19px auto 0;
}

.u-section-5 .u-icon-3 {
  width: 65px;
  height: 65px;
  margin: 60px auto 0;
  padding: 6px;
}

.u-section-5 .u-text-7 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 14px auto 0;
}

.u-section-5 .u-text-8 {
  font-size: 1.125rem;
  width: 309px;
  margin: 16px auto 0;
}

.u-section-5 .u-image-1 {
  min-height: 797px;
  background-image: url("images/ipx1.png");
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 797px;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px;
}

.u-section-5 .u-icon-4 {
  width: 65px;
  height: 65px;
  margin: 10px auto 0;
  padding: 6px;
}

.u-section-5 .u-text-9 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 10px auto 0;
}

.u-section-5 .u-text-10 {
  font-size: 1.125rem;
  margin: 14px 34px 0;
}

.u-section-5 .u-icon-5 {
  width: 65px;
  height: 65px;
  margin: 36px auto 0;
  padding: 6px;
}

.u-section-5 .u-text-11 {
  font-weight: 700;
  width: 240px;
  font-size: 1.5rem;
  margin: 14px auto 0;
}

.u-section-5 .u-text-12 {
  font-size: 1.125rem;
  margin: 19px 34px 0;
}

.u-section-5 .u-icon-6 {
  width: 65px;
  height: 65px;
  margin: 66px auto 0;
  padding: 6px;
}

.u-section-5 .u-text-13 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 10px auto 0;
}

.u-section-5 .u-text-14 {
  font-size: 1.125rem;
  margin: 19px 34px 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 961px;
  }

  .u-section-5 .u-group-1 {
    width: 940px;
    margin-left: 0;
    margin-right: 0;
    height: auto;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: -61px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 729px;
  }

  .u-section-5 .u-text-3 {
    font-size: 1.125rem;
  }

  .u-section-5 .u-text-4 {
    font-size: 0.875rem;
    width: auto;
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-5 .u-text-5 {
    font-size: 1.125rem;
  }

  .u-section-5 .u-text-6 {
    font-size: 0.875rem;
    width: auto;
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-5 .u-text-7 {
    font-size: 1.125rem;
  }

  .u-section-5 .u-text-8 {
    font-size: 0.875rem;
    width: auto;
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-5 .u-image-1 {
    min-height: 729px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 729px;
  }

  .u-section-5 .u-text-9 {
    font-size: 1.125rem;
  }

  .u-section-5 .u-text-10 {
    font-size: 0.875rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-11 {
    font-size: 1.125rem;
    margin-left: 23px;
    margin-right: 23px;
  }

  .u-section-5 .u-text-12 {
    font-size: 0.875rem;
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-13 {
    font-size: 1.125rem;
  }

  .u-section-5 .u-text-14 {
    width: auto;
    font-size: 0.875rem;
    margin-top: 31px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 579px;
  }

  .u-section-5 .u-group-1 {
    width: 720px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-bottom: 2px;
  }

  .u-section-5 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-icon-3 {
    margin-top: 37px;
  }

  .u-section-5 .u-text-7 {
    width: auto;
  }

  .u-section-5 .u-text-8 {
    margin-top: 13px;
    margin-right: 13px;
    margin-left: 20px;
  }

  .u-section-5 .u-image-1 {
    min-height: 558px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-5 .u-icon-4 {
    margin-right: 95px;
    margin-left: 95px;
  }

  .u-section-5 .u-text-9 {
    margin-right: 82px;
    margin-left: 65px;
  }

  .u-section-5 .u-text-10 {
    width: auto;
    margin-right: 30px;
    margin-left: 30px;
  }

  .u-section-5 .u-icon-5 {
    margin-top: 20px;
    margin-right: 95px;
    margin-left: 95px;
  }

  .u-section-5 .u-text-11 {
    width: auto;
    margin-left: 38px;
    margin-right: 38px;
  }

  .u-section-5 .u-text-12 {
    margin-top: 10px;
    margin-right: 8px;
    margin-left: 17px;
  }

  .u-section-5 .u-icon-6 {
    margin-top: 46px;
  }

  .u-section-5 .u-text-13 {
    width: auto;
    margin-top: 14px;
  }

  .u-section-5 .u-text-14 {
    margin-top: 13px;
    margin-right: 11px;
    margin-left: 16px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1227px;
  }

  .u-section-5 .u-group-1 {
    width: 540px;
    margin-top: 0;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: -13px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-container-layout-2 {
    padding-top: 13px;
    padding-bottom: 13px;
  }

  .u-section-5 .u-icon-1 {
    margin-top: 0;
  }

  .u-section-5 .u-text-3 {
    width: auto;
  }

  .u-section-5 .u-text-8 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-image-1 {
    min-height: 1256px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-icon-4 {
    margin-top: 13px;
    margin-right: 287px;
    margin-left: 287px;
  }

  .u-section-5 .u-text-9 {
    width: auto;
    margin-right: 257px;
    margin-left: 257px;
  }

  .u-section-5 .u-icon-5 {
    margin-right: 287px;
    margin-left: 287px;
  }

  .u-section-5 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-12 {
    margin-right: 13px;
    margin-left: 13px;
  }

  .u-section-5 .u-icon-6 {
    margin-top: 23px;
    margin-right: 287px;
    margin-left: 287px;
  }

  .u-section-5 .u-text-13 {
    margin-right: 246px;
    margin-left: 246px;
  }

  .u-section-5 .u-text-14 {
    margin-left: 14px;
    margin-right: 14px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 2219px;
  }

  .u-section-5 .u-group-1 {
    min-height: 223px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 26px;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-5 .u-text-1 {
    margin-top: 0;
  }

  .u-section-5 .u-text-2 {
    font-size: 1rem;
    width: auto;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: -7px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 537px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-5 .u-icon-1 {
    margin-top: 6px;
  }

  .u-section-5 .u-text-7 {
    margin-top: 15px;
  }

  .u-section-5 .u-image-1 {
    min-height: 804px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-bottom: 0;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 661px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-top: 0;
  }

  .u-section-5 .u-icon-4 {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-text-9 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-text-10 {
    width: 240px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-icon-5 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-text-12 {
    width: 240px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-icon-6 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-text-13 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-text-14 {
    width: 240px;
    margin-left: auto;
    margin-right: auto;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 50px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 30px;
  }
} .u-section-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("images/-min1.jpg");
  background-position: 50% 50%;
}

.u-section-7 .u-sheet-1 {
  min-height: 778px;
}

.u-section-7 .u-text-1 {
  font-weight: normal;
  margin: 97px auto 0;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 97px;
  margin-bottom: 60px;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-image-1 {
  width: 113px;
  height: 113px;
  background-image: url("images/1.png");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-7 .u-text-2 {
  line-height: 1.56;
  letter-spacing: 2px;
  font-size: 1.25rem;
  margin: 97px 1px 0;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px;
}

.u-section-7 .u-image-2 {
  width: 113px;
  height: 113px;
  background-image: url("images/2.png");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-7 .u-text-3 {
  line-height: 1.56;
  letter-spacing: 2px;
  font-size: 1.25rem;
  margin: 97px 1px 0;
}

.u-section-7 .u-layout-cell-3 {
  min-height: 400px;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px;
}

.u-section-7 .u-image-3 {
  width: 112px;
  height: 112px;
  background-image: url("images/3.png");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-7 .u-text-4 {
  line-height: 1.56;
  letter-spacing: 2px;
  font-size: 1.25rem;
  margin: 98px 1px 0;
}

.u-section-7 .u-layout-cell-4 {
  min-height: 400px;
}

.u-section-7 .u-container-layout-4 {
  padding: 29px 30px;
}

.u-section-7 .u-image-4 {
  width: 113px;
  height: 113px;
  background-image: url("images/4.png");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-7 .u-text-5 {
  line-height: 1.56;
  letter-spacing: 2px;
  font-size: 1.25rem;
  margin: 98px 1px 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 572px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 346px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-7 .u-text-2 {
    width: auto;
    font-size: 1rem;
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 330px;
  }

  .u-section-7 .u-text-3 {
    font-size: 1rem;
    width: auto;
    margin-left: -6px;
    margin-right: -6px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 330px;
  }

  .u-section-7 .u-text-4 {
    font-size: 1rem;
    width: auto;
    margin-left: -5px;
    margin-right: -5px;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 330px;
  }

  .u-section-7 .u-text-5 {
    font-size: 1rem;
    width: auto;
    margin-left: -5px;
    margin-right: -5px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 979px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1674px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 334px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-1 {
    margin-top: 19px;
  }

  .u-section-7 .u-text-2 {
    margin-top: 27px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 333px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-2 {
    margin-top: 19px;
  }

  .u-section-7 .u-text-3 {
    margin-top: 27px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 334px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-3 {
    margin-top: 19px;
  }

  .u-section-7 .u-text-4 {
    margin-top: 27px;
    margin-left: auto;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 333px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-4 {
    margin-top: 19px;
  }

  .u-section-7 .u-text-5 {
    margin-top: 27px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1567px;
  }

  .u-section-7 .u-text-1 {
    font-weight: 700;
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: 41px;
    margin-bottom: 49px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 332px;
  }

  .u-section-7 .u-text-2 {
    margin-top: 26px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 332px;
  }

  .u-section-7 .u-image-2 {
    margin-right: 104px;
    margin-left: 104px;
  }

  .u-section-7 .u-text-3 {
    margin-top: 26px;
    margin-right: 41px;
    margin-left: 44px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 332px;
  }

  .u-section-7 .u-text-4 {
    margin-top: 41px;
    margin-right: 0;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 331px;
  }

  .u-section-7 .u-text-5 {
    margin-top: 41px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 50px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 30px;
  }
} .u-section-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/cvb.jpg");
  background-position: 50% 50%;
}

.u-section-9 .u-sheet-1 {
  min-height: 709px;
}

.u-section-9 .u-layout-wrap-1 {
  width: 719px;
  margin: 58px auto 0;
}

.u-section-9 .u-layout-cell-1 {
  min-height: 250px;
}

.u-section-9 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-9 .u-text-1 {
  font-weight: 400;
  font-size: 3rem;
  margin: 0 auto;
}

.u-section-9 .u-form-1 {
  height: 112px;
  background-image: none;
  width: 497px;
  margin: 23px auto 0;
}

.u-section-9 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
}

.u-section-9 .u-layout-wrap-2 {
  margin-top: 42px;
  margin-bottom: 60px;
}

.u-section-9 .u-image-1 {
  background-image: url("images/7a1efc23-1b7a-7322-b1dc-bc6485a69227.jpg");
  min-height: 255px;
  background-position: 50% 50%;
}

.u-section-9 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-9 .u-layout-cell-3 {
  min-height: 255px;
}

.u-section-9 .u-container-layout-3 {
  padding: 0 30px;
}

.u-section-9 .u-text-2 {
  margin: 1px 0 0;
}

.u-section-9 .u-text-3 {
  font-size: 1.5rem;
  margin: 30px 0 0;
}

.u-section-9 .u-social-icons-1 {
  height: 52px;
  min-height: 16px;
  width: 125px;
  min-width: 53px;
  white-space: nowrap;
  margin: 34px auto 0;
}

.u-section-9 .u-icon-1 {
  height: 100%;
}

.u-section-9 .u-icon-2 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 540px;
  }

  .u-section-9 .u-layout-cell-1 {
    background-position: 50% 50%;
  }

  .u-section-9 .u-image-1 {
    min-height: 210px;
  }

  .u-section-9 .u-layout-cell-3 {
    min-height: 210px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 331px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 188px;
  }

  .u-section-9 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-9 .u-image-1 {
    min-height: 322px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-9 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-9 .u-text-3 {
    font-size: 1rem;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 351px;
  }

  .u-section-9 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 141px;
  }

  .u-section-9 .u-container-layout-1 {
    padding: 22px 40px;
  }

  .u-section-9 .u-form-1 {
    width: 449px;
  }

  .u-section-9 .u-image-1 {
    min-height: 242px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 798px;
  }

  .u-section-9 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 230px;
  }

  .u-section-9 .u-container-layout-1 {
    padding: 13px 0;
  }

  .u-section-9 .u-text-1 {
    width: auto;
    margin-top: 1px;
  }

  .u-section-9 .u-form-1 {
    height: 119px;
    width: 320px;
    margin-top: 41px;
  }

  .u-section-9 .u-btn-1 {
    padding-top: 13px;
    padding-bottom: 13px;
  }

  .u-section-9 .u-layout-wrap-2 {
    margin-top: 44px;
    margin-bottom: 0;
  }

  .u-section-9 .u-image-1 {
    min-height: 152px;
  }

  .u-section-9 .u-layout-cell-3 {
    min-height: 315px;
  }

  .u-section-9 .u-text-2 {
    width: auto;
    margin-top: 29px;
  }

  .u-section-9 .u-text-3 {
    font-size: 0.875rem;
    width: auto;
    margin-top: 11px;
  }

  .u-section-9 .u-social-icons-1 {
    margin-top: 25px;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 50px;
}

@media (max-width: 1199px) {
  .u-section-10 .u-sheet-1 {
    min-height: 30px;
  }
} .u-section-11 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/sa-min.jpg");
}

.u-section-11 .u-sheet-1 {
  min-height: 836px;
}

.u-section-11 .u-text-1 {
  width: 515px;
  font-weight: 700;
  margin: 82px auto 0;
}

.u-section-11 .u-form-1 {
  height: 407px;
  background-image: none;
  width: 570px;
  margin: 87px auto 60px;
}

.u-section-11 .u-form-group-1 {
  width: 100%;
}

.u-section-11 .u-form-group-2 {
  width: 100%;
}

.u-section-11 .u-form-group-3 {
  width: 100%;
}

.u-section-11 .u-form-group-4 {
  width: 100%;
}

.u-section-11 .u-form-group-5 {
  width: 100%;
}

.u-section-11 .u-form-group-6 {
  width: 100%;
}

.u-section-11 .u-btn-1 {
  background-image: none;
  box-shadow: 0px 2px 8px 0px rgba(128,128,128,1);
  font-weight: 700;
  font-size: 1.125rem;
}

@media (max-width: 1199px) {
  .u-section-11 .u-sheet-1 {
    min-height: 804px;
  }

  .u-section-11 .u-form-1 {
    height: 482px;
    margin-top: 64px;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-text-1 {
    margin-top: 65px;
  }

  .u-section-11 .u-form-1 {
    width: 459px;
    margin-top: 41px;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-sheet-1 {
    min-height: 603px;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-sheet-1 {
    min-height: 766px;
  }

  .u-section-11 .u-text-1 {
    width: 340px;
  }

  .u-section-11 .u-form-1 {
    margin-top: 44px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}